<div class="row">
    <div class="col-sm-8 offset-2">
        <div class="text-center">
            <h4>
                Sign Up
            </h4>

        </div>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       formControlName="username"
                       class="form-control"
                       [ngClass]="{'is-invalid': username.errors && username.touched}"
                       id="username"
                       placeholder="Username">
                <div class="invalid-feedback" *ngIf="username.hasError('usernameTaken')">
                    Username has been taken already.
                </div>
                <div class="invalid-feedback" *ngIf="username.hasError('required')">
                    Username is required.
                </div>
                <div class="invalid-feedback" *ngIf="username.hasError('minlength')">
                    Username must be at least 3 characters.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{'is-invalid': password.errors && password.touched}"
                       id="password"
                       placeholder="Password"
                       autocomplete>
                <div class="invalid-feedback" *ngIf="password.hasError('required')">
                    Password is required.
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password"
                       formControlName="confirmPassword"
                       class="form-control"
                       [ngClass]="{'is-invalid': confirmPassword.errors && confirmPassword.touched}"
                       id="confirmPassword"
                       placeholder="Confirm Password"
                       autocomplete>
                <div class="invalid-feedback" *ngIf="confirmPassword.hasError('passwordMismatch')">
                    Passwords don't match
                </div>
                <div class="invalid-feedback" *ngIf="confirmPassword.hasError('required')">
                    Password is required.
                </div>
            </div>
            <section formGroupName="address">
                <div class="form-group">
                    <label for="inputStreet">Address</label>
                    <input formControlName="street"
                            type="text"
                           class="form-control"
                           id="inputStreet"
                           placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCity">City</label>
                        <input formControlName="city"
                               type="text"
                               class="form-control"
                               id="inputCity">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">State</label>
                        <select formControlName="state"
                                id="inputState"
                                class="form-control">
                            <option value="" disabled>Choose a state</option>
                            <option *ngFor="let state of stateOptions" [ngValue]="state">{{state}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPostalCode">Postal Code</label>
                        <input formControlName="postalCode"
                               type="text"
                               class="form-control"
                               id="inputPostalCode">
                    </div>
                </div>
            </section>
<!--            <p>-->
<!--                FORM STATUS: {{userForm.status}}-->
<!--            </p>-->
            <p>
                <button class="btn btn-success"
                        [disabled]="userForm.invalid"
                        type="submit">
                    <i class="fas fa-save"></i>
                    Save
                </button>
                <button class="btn btn-warning" (click)="clear()">
                    <i class="fas fa-snowplow"></i>
                    Clear
                </button>
                <button class="btn btn-info" (click)="prefillAddress()">
                    <i class="fas fa-address-card"></i>
                    Prefill Address
                </button>
            </p>
        </form>
    </div>

</div>
